<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-button expand="full">Star War's Search</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-avatar item-start>
         <img src="assets/personajes/Darth_Vader.jpeg">
  </ion-avatar>
         <ion-button href="../darth_vader">Darth_Vader</ion-button>

  <ion-avatar item-start>
         <img src="assets/personajes/Chewbacca.jpeg">
  </ion-avatar>
         <ion-button href="../chewbacca">Chewbacca</ion-button>
  <ion-avatar item-start>
         <img src="assets/personajes/General_Grievus.jpeg">
  </ion-avatar>
         <ion-button href="general_grievus">General_Grievus</ion-button>
  <ion-avatar item-start>
         <img src="assets/personajes/Padme_Amidala.jpeg">
  </ion-avatar>
        <ion-button href="../padme_amidala">Padme_Amidala</ion-button>
  <ion-avatar item-start>
         <img src="assets/personajes/Yoda.jpeg">
  </ion-avatar>
  <ion-button href="../yoda">Yoda</ion-button>
</ion-content>
